.search-panel {
	background-color: antiquewhite;
	border-radius: 5px;
	max-width: 960px;
}

.search-top {
	padding: 15px 20px 15px 20px;
}

.search-top .input-place {
	align-items: center;
	display: inline-block;
}

.input-place .search-input {
	margin-left: 5px;
	display: inline-block;
}

.input-place .number-of-room-selector {
	margin-left: 30px;
	display: inline-block;
}

.input-place .number-of-room-selector .number-of-room {
	margin-left: 20px;
	width: 100px;
}

.input-place .type-of-accommod {
	display: inline-block;
	margin-left: 30px;
}
