.listChatbox {
	padding-left: 10px;
}

.chatBoxCardList {
	background-color: rgba(149, 165, 166, 0.1);
}

.listHeader {
	padding: 10px;
	display: flex;
	flex-direction: row;
	text-align: center;
}

.listHeaderTitle {
	margin: auto;
}

.search-feild {
	text-align: center;
}

.search-feild input[type=text] {
	background-color: rgba(149, 165, 166, 0.2);
	width: 100%;
	border: none;
	margin: 10px 0px;
	height: 30px;
}

.search-feild input[type=text]:focus {
	outline-color: rgba(41, 128, 185, 1.0);
}

.chatCard {
	margin: 10px auto;
	padding: 5px;
}

.chatCard h6 {
	margin-left: 20px;
	margin-top: auto;
	margin-bottom: auto;
}
