:root {
	font-size: 14px;
}

body {
	background-color: #F0F0F3 !important;
}

.display-inline-block {
	display: inline-block;
}

.display-none {
	display: none;
}

.min-w-200px {
	min-width: 200px;
}

.w-200px {
	width: 200px;
}

.max-w-200px {
	max-width: 200px;
}

.margin-x-15px {
	margin: 0 15px;
}

::-webkit-scrollbar {
	width: 7px;
}

::-webkit-scrollbar-track {
	background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
	background: #333;
	border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
	background: #555;
}
