:root {
  font-size: 14px;
}

body {
	background-color: #F0F0F3 !important;
}

.display-inline-block {
  display: inline-block;
}

.display-none {
	display: none;
}

.min-w-200px {
	min-width: 200px;
}

.w-200px {
	width: 200px;
}

.max-w-200px {
	max-width: 200px;
}

.margin-x-15px {
	margin: 0 15px;
}

::-webkit-scrollbar {
	width: 7px;
	height: 7px;
}

::-webkit-scrollbar-track {
	background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
	background: #333;
	border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
	background: #555;
}

.tab-container {
	padding: 0 140px 200px;
}

.tab-container .ant-tabs {
	overflow: visible;
}

.fixed-bubble {
	width: 80px;
	height: 80px;
	background-color: #F0F0F3;
	border-radius: 50%;
	box-shadow: -10px -10px 30px #ffffff, 10px 10px 30px rgba(174, 174, 192, 0.4);
	z-index: 80;
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	left: 25px;
	bottom: 25px;
	cursor: pointer;
}

.fixed-bubble img {
	width: 45px;
}

#noti-bubble {
	bottom: 120px;
}

@media screen and (max-width: 1280px) {
	.tab-container {
		padding: 0 60px 200px;
	}
}

@media screen and (max-width: 768px) {
	.tab-container {
		padding: 0 30px 200px;
	}
}