.table-container {
    padding: 140px 140px;
    font-family: 'Comfortaa', cursive;
}

.ant-table {
    font-size: 16px !important;
}

@media screen and (max-width: 1280px) {
    .table-container {
        padding: 60px 60px;
    }

    .ant-table {
        font-size: 15px !important;
    }
}

@media screen and (max-width: 1024px) {
    .table-container {
        padding: 60px 30px;
    }

    .ant-table {
        font-size: 14px !important;
    }
}