.table-container {
    font-family: 'Comfortaa', cursive;
}

.ant-table {
    font-size: 16px !important;
}

@media screen and (max-width: 1280px) {
    .ant-table {
        font-size: 15px !important;
    }
}

@media screen and (max-width: 1024px) {
    .ant-table {
        font-size: 14px !important;
    }
}