@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');

.table-container {
    padding: 140px 140px;
    font-family: 'Comfortaa', cursive;
}

.ant-table {
    font-size: 16px !important;
}