@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,600&display=swap');

.card-meta {
	padding: 5px 10px;
}

.card-meta .card-title {
	font-size: 1.4rem;
	font-weight: 500;
	font-family: Arial, Helvetica, sans-serif;
}

.item-media-price {
	z-index: 1;
	padding: 0 20px 15px 10px;
	font-size: 1.5rem;
	font-family: 'Montserrat', sans-serif;
}

.item-price sub {
	bottom: 0;
}

.item-price sup {
	top: -5px;
}

.item-media-price .item-price {
	color: #1e3799;
}

.card-meta .card-description {
	font-family: Arial, Helvetica, sans-serif;
	color: #888;
}

.card-body {
	padding: 0px 15px;
	position: relative;
	font-size: 1.1rem;
	font-weight: 500;
}

.card-expand-button {
	background-color: #b69a5d;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	font-size: 1.2rem;
	font-weight: bold;
	color: #ffffff;
	display: flex;
	transition: 0.3s;
	opacity: 0;
}

.card-body:hover .card-expand-button {
	opacity: 1;
}

.ant-card-body {
	padding: 0px 0px 10px 0px !important;
}

.card-action {
	font-size: 1.8rem;
	padding: 0px 20px;
	justify-content: space-between;
}

.card-action-icon {
	padding-left: 5px;
	float: right;
}

.liked {
	color: #c0392b;
}

.isFollowed {
	color: #f6b93b;
}
