h2 {
    visibility: hidden;
}

.carousel-item {
    width: 400px !important;
    height: 600px;
    margin: 0 10px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}